cluster-cidr: 100.96.0.0/12
service-cidr: 100.64.0.0/12
cluster-dns: 100.64.0.10
cluster-domain: cluster.mammdoo
cni: cilium
service-node-port-range: 25000-28000
{% if rke_initialize is not defined %}
server: https://{{ loadbalancer_domain }}:9345
{% endif %}
tls-san:
  - {{ loadbalancer_domain }}
  - 100.64.0.0/12
kubelet-arg:
  - "max-pods=250"
kube-proxy-arg:
  - proxy-mode=ipvs
  - ipvs-strict-arp=true
  - ipvs-scheduler=lc
disable:
  - rke2-ingress-nginx