[global]
fsid = {{ ceph_uuid }}
cluster = {{ ceph_name }}
mon_initial_members = {{ groups['ceph'] | map('extract', hostvars, 'inventory_hostname') | join(',') }}
mon_host = {{ groups['ceph'] | map('extract', hostvars, 'ansible_ssh_host') | join(',') }}
mon_allow_pool_size_one = true
mon_warn_on_pool_no_redundancy = false
auth_allow_insecure_global_id_reclaim = false
auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx
osd_pool_default_size = 2
osd_pool_default_min_size = 1
osd_pool_default_pg_num = 1024
osd_pool_default_pgp_num = 1024
osd_crush_chooseleaf_type = 1
